flows.json
[
    {
        "id": "f380206c2f860f2a",
        "type": "tab",
        "label": "Поток 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "59ff2a1.fa600d4",
        "type": "http in",
        "z": "f380206c2f860f2a",
        "name": "",
        "url": "/test",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "54c1e70d.ab3e18"
            ]
        ]
    },
    {
        "id": "54c1e70d.ab3e18",
        "type": "template",
        "z": "f380206c2f860f2a",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\"time\": \"12:00\", \n \"ID\": 1234, \n \"city\": \"London\"}",
        "x": 270,
        "y": 60,
        "wires": [
            [
                "266c286f.d993d8"
            ]
        ]
    },
    {
        "id": "266c286f.d993d8",
        "type": "http response",
        "z": "f380206c2f860f2a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 410,
        "y": 60,
        "wires": []
    },
    {
        "id": "ac8ddd3f.28e1f8",
        "type": "http in",
        "z": "f380206c2f860f2a",
        "name": "",
        "url": "test1",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 240,
        "wires": [
            [
                "b53e8bc.0cadef8"
            ]
        ]
    },
    {
        "id": "8b51bdc0.47edc",
        "type": "http response",
        "z": "f380206c2f860f2a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 820,
        "y": 240,
        "wires": []
    },
    {
        "id": "3c861534.f6423a",
        "type": "template",
        "z": "f380206c2f860f2a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<div>This is the Sensor1: {{payload}} !</div>",
        "output": "str",
        "x": 620,
        "y": 240,
        "wires": [
            [
                "8b51bdc0.47edc"
            ]
        ]
    },
    {
        "id": "b66885a3.f9c938",
        "type": "inject",
        "z": "f380206c2f860f2a",
        "name": "Sensor value",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "$random() * 10\t",
        "payloadType": "jsonata",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "3854cf2a.20656"
            ]
        ]
    },
    {
        "id": "3854cf2a.20656",
        "type": "function",
        "z": "f380206c2f860f2a",
        "name": "set Context",
        "func": "flow.set(\"Sensor1\", msg.payload)\n",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 160,
        "wires": []
    },
    {
        "id": "b53e8bc.0cadef8",
        "type": "function",
        "z": "f380206c2f860f2a",
        "name": "proccess Context",
        "func": "let Sensor1 = flow.get('Sensor1') || 'not set'\n\nmsg.payload = Sensor1.toFixed(2)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 240,
        "wires": [
            [
                "3c861534.f6423a"
            ]
        ]
    },
    {
        "id": "5b98a8ac.a46758",
        "type": "http in",
        "z": "f380206c2f860f2a",
        "name": "",
        "url": "/test-form",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 140,
        "y": 460,
        "wires": [
            [
                "bba61009.4459f"
            ]
        ]
    },
    {
        "id": "bba61009.4459f",
        "type": "template",
        "z": "f380206c2f860f2a",
        "name": "page",
        "field": "payload",
        "fieldType": "flow",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}",
        "x": 310,
        "y": 460,
        "wires": [
            [
                "6ceb930a.93146c",
                "c2547d97dd6d2fa5",
                "a23c2985e10a5384"
            ]
        ]
    },
    {
        "id": "6ceb930a.93146c",
        "type": "http response",
        "z": "f380206c2f860f2a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 450,
        "y": 460,
        "wires": []
    },
    {
        "id": "ea2b08c3d2f9d44b",
        "type": "inject",
        "z": "f380206c2f860f2a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "cec863e7c1784736"
            ]
        ]
    },
    {
        "id": "c1f6892b79c89ef4",
        "type": "http request",
        "z": "f380206c2f860f2a",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.55:1880/test-form",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 650,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "c2547d97dd6d2fa5",
        "type": "debug",
        "z": "f380206c2f860f2a",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 540,
        "wires": []
    },
    {
        "id": "cc8903f26cf1c752",
        "type": "change",
        "z": "f380206c2f860f2a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\":\"John\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "cec863e7c1784736",
        "type": "function",
        "z": "f380206c2f860f2a",
        "name": "function 1",
        "func": "msg.payload = { \"Name\": \"Temperature1\",\n                \"Value\": 21.7,\n                \"RecordID\": 1234};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 360,
        "wires": [
            [
                "c1f6892b79c89ef4"
            ]
        ]
    },
    {
        "id": "a23c2985e10a5384",
        "type": "mqtt out",
        "z": "f380206c2f860f2a",
        "name": "",
        "topic": "sn_12345678/to_hp/",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f7e6bd98ebc0fd6",
        "x": 660,
        "y": 400,
        "wires": []
    },
    {
        "id": "42b897ce3d5fbc3d",
        "type": "mqtt in",
        "z": "f380206c2f860f2a",
        "name": "",
        "topic": "sn_12345678/from_hp/",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f7e6bd98ebc0fd6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 620,
        "wires": [
            [
                "d5fc069253e1af9c"
            ]
        ]
    },
    {
        "id": "d5fc069253e1af9c",
        "type": "debug",
        "z": "f380206c2f860f2a",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 620,
        "wires": []
    },
    {
        "id": "6f7e6bd98ebc0fd6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.78",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]
